:host {
  --colors-primaryColor-background: #4a86e8;
  --colors-primaryColor-text-bitIsNestedMore: 1;
  --colors-primaryColor-text-andHasASibling: true;
  --colors-secondaryColor: #6aa84f;
  --colors-textColor: #434343;
  --colors-backgroundColor: #ffffff;
}

$colors-primaryColor-background: #4a86e8;
$colors-primaryColor-text-bitIsNestedMore: 1;
$colors-primaryColor-text-andHasASibling: true;
$colors-secondaryColor: #6aa84f;
$colors-textColor: #434343;
$colors-backgroundColor: #ffffff;
