// CSS custom properties 

:host {
  --primaryColor: #4a86e8;
  --secondaryColor: #6aa84f;
  --textColor: #434343;
  --backgroundColor: #ffffff;
} 

 // sass variables 

$primary-color: #4a86e8;
$secondary-color: #6aa84f;
$text-color: #434343;
$background-color: #ffffff;
